@page "{title?}"
@model IndexModel
@{
    ViewData["Title"] = "URL Shortener";
}

<form method="post">
    <div class="form-group">
        <label class="float-left font-weight-bold">URL</label>
        <input type="text" class="form-control" required asp-for="ShortenModel.OriginalUrl" placeholder="https//www.example.com">
    </div>
    <div class="form-group">
        <label class="float-left font-weight-bold">(Optional) Custom Path</label>
        <input type="text" class="form-control" asp-for="ShortenModel.TokenId" placeholder="min 1 max 10 Characters" maxlength="10">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Create</button>
    </div>
    @if (Model.inUse == true)
    {
    <label class="float-left font-weight-bold">Custom Path already in use, try another!</label>
    }
</form>

