@page
@model URL_Shortener.UrlDeliveryModel
@{
    ViewData["Title"] = "UrlDelivery";
}

<h1>Your Short URL</h1>
<h4 id="tocopy">https://@Request.Host.ToString()/@Model.DeliveryUrl</h4>
<a href="/" class="btn btn-primary">Create another one</a>
<button class="btn btn-primary" id="cp_btn" onclick="copytext">Copy to Clipboard</button>

<script>

    document.getElementById("cp_btn").addEventListener("click", copytext);
    function copytext()
    {
        var copyText = document.getElementById("tocopy");
        var textArea = document.createElement("textarea");
        textArea.value = copyText.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        alert("Copied link to clipboard");
    }
</script>